/* style.css */

/* 1. フォントを定義（@font-face） */
@font-face {
    font-family: "MyCustomFont";
    src: url("fonts/HappyRuika-07_0.TTF") format("truetype");
}

/* 2. フォントを適用 */
body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: "MyCustomFont", sans-serif;
}
a {
    color: cyan; /* リンクの色を赤にする */
    text-decoration: none; /* 下線を消す（必要なら） */
}
a:hover {
    color: yellow; /* ホバー時に青くする */
}